.post-editor {
	width: 900px;
	padding-left: 250px;
}

.post-editor-button {
	margin-top: 5px;
	padding-left: 800px;
	position: float;
}

@media(max-width: 1800px) {
	.post-editor {
		margin: 1px;
	}
	
	.post-body {
		margin: 1em;
	}
	
}