.App-link {
  color: #61dafb;
}

.title {
  color: #5866D1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 65px;
}

h3 {
  color: #5866D1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 0 1%;
}
.login-header {
    text-align: center;
}

.post-body {
	margin: 1em 100%;
}

.postingForm {
	position: relative;
}

.container {
	position: relative;
	right: 10%;
}

.LinkMeSettings {
  position: relative;
  float: right;
}

.LinkMeLogin {
  position: relative;
  float: right;
}

.LinkMeInbox {
  position: relative;
  float: right;
}

.container {
	  padding:0;
    margin:0;
}

.preview {
	overflow: hidden;
   display: -webkit-box;
   margin-top: 8%;
	-webkit-box-orient: vertical;
   -webkit-line-clamp: 9;
   
}

.previewtitle {
	overflow: hidden;
   display: -webkit-box;
	-webkit-box-orient: vertical;
	padding-bottom: 10px;
   -webkit-line-clamp: 2;
   
}

h5 {
  color: #5866D1;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.addingPost {	
	position: absolute;
	padding: 0 50%;
	margin: 0 50%;
}

.hidden { display:none; }

.addPostButton{
		padding: 0 47%;
		height: 40px;
}


.card-img-top {
	  opacity: 0.42;
}

@media(max-width: 900px) {
	.post-body {
		margin: 1em;
	}
	
}

.activity-link {
  text-decoration: none;
  color: black;
}

.row {
  min-height: 240px;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.navButton {
	margin: 10% 35%;
}

button.MuiButtonBase-root {
  text-align: center;
  background-color: #535FC1;
  color: #FFFFFF;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.buttons {
  position: absolute;
  top: 10px;
  right: 1%;
  text-decoration: none;
}

.buttons button:hover {
  background: #5866D1;
}

