.post-editor {
	width: 1220px;
	padding-left: 410px;
	position: relative;
}

.post-editor-button {
	margin-top: 5px;
	margin-left: 400px;
	position:relative;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-left: 200px;
}

@media(max-width: 1800px) {
	.post-editor {
		margin: 1px;
	}
	
	.post-body {
		margin: 1em;
	}
	
}