
.form-group {
	width: 60%;
	margin: 0 20%;
	position: relative;
}

.post-editor-button {
	margin: 1% 45%;
	position:relative;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-left: 200px;
}

	/*
@media(max-width: 1800px) {
	.post-editor {
		margin: 1px;
	}
	
	.post-body {
		margin: 1em;
	}
	
}*/