.post-body {
}

.preview {
	overflow: hidden;
   display: -webkit-box;
	-webkit-box-orient: vertical;
   -webkit-line-clamp: 8;
	
}

.card-img-top {
	  opacity: 0.42;
}

@media(max-width: 900px) {
	.post-body {
		margin: 1em;
	}
	
}